{% extends "base.html" %}

{% block title %}dashboard{% endblock %}

{% block content %}
    <h1>dashboard</h1>
    <div>
        {% if questions %}
            <h3>now questions</h3>
            <table border="1">
                <tr>
                    <th>user</th>
                    <th>question</th>
                    <th>answer</th>
                </tr>
                {% for q in questions %}
                <tr>
                    <td><a href="{{ url_for('show_user_profile',user_name=q.user.name) }}">{{q.user.name}}</a></td>
                    <td>{{q.detail}}</td>
                    <td>{{q.answer}}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <div>
        {% if user_questions %}
            <h3>your questions</h3>
            <ul>
                {% for q in user_questions %}
                <li>{{q.detail}} : {{q.answer}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
